<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Для тех, кто любит когда чисто">
  <meta name="keywords"
    content="Помыть окно, почистить ковёр, убрать квартиру, убраться в офисе, пропылесосить помещение.">
  <title>LuxEmbrace</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap-grid.css">
  <link rel="stylesheet" href="css/main.scss" type="text/scss">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="page-top">
    <!--<video class="page-top__viseo" src="img/fon.mp4" autoplay>-->
    </video>
    <div class="page-top__wrap">
      <div class="page-top__header">
        <header class="header">
          <div class="header__wrap">
            <div class="header__soci soci">
              <ul class="soci__list">
                <li class="soci__item">
                  <a href="#" class="soci__link">
                    <svg class="s-icon soci__icon" role="img" aria-label="Иконка Телефон">
                      <use xlink:href="img/svg/sprite.svg#phone"></use>
                    </svg>
                  </a>
                </li>
                <li class="soci__item">
                  <a href="#" class="soci__link">
                    <svg class="s-icon soci__icon" role="img" aria-label="Иконка Твиттер">
                      <use xlink:href="img/svg/sprite.svg#twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="soci__item">
                  <a href="#" class="soci__link">
                    <svg class="s-icon soci__icon" role="img" aria-label="Иконка Инстаграмм">
                      <use xlink:href="img/svg/sprite.svg#instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="header__phone">
              <a href="#" class="phone"><span class="phone__span">+7 495</span>670 8900</a>
            </div>
          </div>
        </header>
      </div>
      <div class="page-top__logo logo">
        <a href="#" class="logo__link">
          <svg class="logo__icon">
            <use xlink:href="img/svg/sprite.svg#logo"></use>
          </svg>
        </a>
      </div>
      <div class="page-top__title">
        <h1 class="title">
          Не откажите себе в одном из вечных удовольствий<br> - смотреть на нашу работу
        </h1>
      </div>
      <div class="page-top__button">
        <button class="page-btn" name="Play">
          Смотреть
        </button>
      </div>
    </div>
  </div>
  <main class="main">
    <section class="all-cleaning">
      <div class="container">
        <h2 class="all-cleaning__title m-title">
          Весь спектр клининговых услуг
        </h2>
        <div class="all-cleaning__wrap">
          {% set cardList = [
          {src: 'img/clean1.jpg', retina: 'img/clean1@2x.jpg 2x', alt: 'Элитная
          недвижимость'},
          {src: 'img/clean2.jpg', retina: 'img/clean2@2x.jpg 2x', alt:
          'Административные здания'},
          {src: 'img/clean3.jpg', retina: 'img/clean3@2x.jpg 2x', alt: 'Квартиры и
          офисы'},
          {src: 'img/clean4.jpg', retina: 'img/clean4@2x.jpg 2x', alt: 'Красивое
          здание'},
          {src: 'img/clean5.jpg', retina: 'img/clean5@2x.jpg 2x', alt: 'Мытье фасадов'},
          {src: 'img/clean6.jpg', retina: 'img/clean6@2x.jpg 2x', alt: 'Окна и витражи'},
          {src: 'img/clean7.jpg', retina: 'img/clean7@2x.jpg 2x', alt: 'Ковры и
          покрытия'},
          {src: 'img/clean8.jpg', retina: 'img/clean8@2x.jpg 2x', alt: 'Полы и стены '},
          ] %}
          {% for cardItem in cardList %}
          <div class="all-cleaning__item">
            <div class="card">
              <div class="card__wrap">
                <div class="visual">
                  <div class="visual__cover">
                    <img src="{{cardItem.src}}" srcset="{{cardItem.retina}}" alt="{{cardItem.alt}}" class="visual__img">
                  </div>
                </div>
                <div class="card__description">
                  {{ cardItem.text }}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="all-cleaning__button">
          <button class="c-button">Посмотреть цены</button>
        </div>
      </div>
    </section>
    <section class="choise">
      <div class="container">
        <h2 class="choise__title m-title">
          Почему выбирают нас
        </h2>
        <div class="choise__wrap">
          <div class="choise__item">
            <div class="choice__visual c-visual">
              <div class="c-visual__cover">
                <img src="img/group-1.svg" alt="" class="c-visual__img">
              </div>
            </div>
          </div>
          <div class="choise__item">
            <h3 class="choise__sub-title sub-title">
              Чистота -понятие не растяжимое
            </h3>
            <div class="choise__description">
              Чистоту наводят опытные специалисты с многолетним стажем и опытом
            </div>
          </div>
          <div class="choise__item">
            <h3 class="choise__sub-title sub-title">
              Персонал
            </h3>
            <div class="choise__description">
              Обоятельные и харизматичные сотрудники имеющие опыт общения с VIP-клиентом
            </div>
          </div>
          <div class="choise__item">
            <div class="choice__visual c-visual">
              <div class="c-visual__cover">
                <img src="img/group-2.svg" alt="" class="c-visual__img">
              </div>
            </div>
          </div>
          <div class="choise__item">
            <div class="choice__visual c-visual">
              <div class="c-visual__cover">
                <img src="img/group-3.svg" alt="" class="c-visual__img">
              </div>
            </div>
          </div>
          <div class="choise__item">
            <h3 class="choise__sub-title sub-title">
              Цены
            </h3>
            <div class="choise__description">
              Расчитываем реальную стоимость работ Никаких скрытых доплат
            </div>
          </div>
          <div class="choise__item">
            <h3 class="choise__sub-title sub-title">
              Индивидуальный подход
            </h3>
            <div class="choise__description">
              Особенно важен в обслуживании мероприятий Делаем в удобное для вас время
            </div>
          </div>
          <div class="choise__item">
            <div class="choice__visual c-visual">
              <div class="c-visual__cover">
                <img src="img/group-4.svg" alt="" class="c-visual__img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="clients">
      <div class="container">
        <h2 class="clients__title m-title">
          Наши довольные клиенты
        </h2>
        <div class="clients__wrap">
          {% set slideCardList = [
          {text: 'Название клиента', src: 'img/client1.jpg', retina: 'img/client1@2x.jpg 2x', signature: 'Элитная
          недвижимость', alt: 'Элитная недвижимость'},
          {text: 'Длинное название клиента', src: 'img/client2.jpg', retina: 'img/client2@2x.jpg 2x',
          signature:'Обслуживание мероприятий', alt: 'Красивое здание'},
          {text: 'Обслуживание мероприятий', src: 'img/client3.jpg', retina: 'img/client3@2x.jpg 2x', signature:
          'Административные здания', alt: 'Красивое здание'},
          {text: 'Обслуживание мероприятий', src: 'img/client4.jpg', retina: 'img/client4@2x.jpg 2x', signature:
          'Административные здания', alt: 'Красивое здание'},
          {text: 'Длинное название клиента', src: 'img/client2.jpg', retina: 'img/client2@2x.jpg 2x', signature:
          'Обслуживание мероприятий', alt: 'Красивое здание'},
          {text: 'Название клиента', src: 'img/client1.jpg', retina: 'img/client1@2x.jpg 2x', signature: 'Элитная
          недвижимость', alt: 'Красивое здание'}
          ] %}
          <div class="clients__list">
            {% for slideCardItem in slideCardList %}
            <div class="clients__item">
              <div class="card">
                <div class="card__wrap">
                  <div class="s-visual">
                    <div class="s-visual__cover">
                      <img src="{{slideCardItem.src}}" srcset="{{ slideCardItem.retina }}" alt="{{slideCardItem.alt}}"
                        class="s-visual__img">
                    </div>
                  </div>
                  <div class="card__description">
                    {{ slideCardItem.text }}
                  </div>
                  <div class="card__text">
                    {{ slideCardItem.signature }}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <!--<button class="clients__btn clients__btn--prev" aria-label="предыдующий слайд"></button>
          <button class="clients__btn clients__btn--next" aria-label="сдедующий слайд"></button>
          <div class="clients__points point">
            <div class="point__wrap">
              <button class="point__btn active" aria-label="первый слайд"></button>
              <button class="point__btn" aria-label="второй слайд"></button>
              <button class="point__btn" aria-label="третий слайд"></button>
              <button class="point__btn" aria-label="четвёртый слайд"></button>
              <button class="point__btn" aria-label="пятый слайд"></button>
            </div>
          </div>-->
        </div>
      </div>
    </section>
    <section class="dialog">
      <div class="container">
        <form action="#" class="dialog__wrap">
          <h2 class="dialog__title m-title">
            Напишите нам
          </h2>
          <div class="dialog__decription">
            Хотите сделать заказ, у вас возникли вопросы или предложения? Напишите свои данные и мы вам перезвоним
          </div>
          <div class="dialog__field">
            <label for="name" class="dialog__label">Как к вам обращаться</label>
            <input type="text" class="dialog__input" id="name" name="name" placeholder="Как к вам обращаться ?">
          </div>
          <div class="dialog__field">
            <label for="ph" class="dialog__label">Номер телефона</label>
            <input type="tel" class="dialog__input" id="ph" placeholder="Номер телефона" name="phone">
          </div>
          <div class="dialog__field">
            <label for="processing" class="dialog__label dialog__label--check">
              <input type="checkbox" class="dialog__check" id="processing" name="checkbox-1" required>
              <span class="dialog__span"></span>
              я согласен(на) на обработку персональных данных
            </label>
          </div>
          <div class="dialog__button">
            <input type="submit" class="dialog__btn c-button c-button--form" name="button" value="Перезвоните мне">
          </div>
          <div class="dialog__text">
            Заявка отправлена. Спасибо за обращение! Мы перезвоним вам в течении 5-10 мин.
          </div>
        </form>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer__wrap">
        <div class="footer__logo logo">
          <a href="#" class="logo__link">
            <svg class="logo__icon logo__icon--footer">
              <use href="img/svg/sprite.svg#logo"></use>
            </svg>
          </a>
        </div>
        <div class="footer__copiright">
          <div class="footer__span">luxembrace.com</div>
          2021 © ИП «Название предпринимателя» Свидетельство регистрации № 5000654700890 Все права защищены.
        </div>
        <div class="footer__phone">
          <a href="#" class="f-phone">+ 495 670 8900</a>
        </div>
        <div class="footer__email">
          inbox@luxembrace.com
        </div>
      </div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>